POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<db_name>
POSTGRES_HOST=<host> # Typically 'localhost' if running locally
POSTGRES_PORT=<port> # Default is 5432 for PostgreSQL

SECRET_KEY =<secret_key> # to get a string like this run: openssl rand -hex 32
ALGORITHM = <algorithm> # Usually 'HS256'